body {    
    background-color: darkcyan;
    margin: 0
}

/* NAVIGATION STYLES */

#nav_container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: lightblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100vw;
    margin: 0;

}

#nav_container > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: darkcyan;
}

/* LOGIN PAGE STYLES */
#login_form_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login_form_container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top:1rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login_form_container_title > p {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: rgb(32, 31, 31);
    font-weight: 800;
}

#login_user_form_name_input_field_container {
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}

#login_user_form_pass1_input_field_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_user_submit_button {
    height: 15%;
    width: 70%;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
}



#login_user_submit_button:hover {
    transform: scale(1.1);
}

#login_user_submit_button:active {
    background-color: green;
}




/* REGISTRATION PAGE STYLES */
#registration_form_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registration_form_container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top:1rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#registration_form_container_title > p{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: rgb(32, 31, 31);
    font-weight: 800;
}

#create_user_form_name_input_field_container {
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}

#create_user_form_first_name_input_field_container {
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}
#create_user_form_last_name_input_field_container {
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}

#create_user_form_email_input_field_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}


#create_user_form_pass1_input_field_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem
}


#create_user_form_pass2_input_field_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#user_creation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#create_user_submit_button {
    height: 15%;
    width: 70%;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
}

#create_user_submit_button:hover {
    transform: scale(1.1);
}

#create_user_submit_button:active {
    background-color: green;
}


.input_icon{
    display: flex;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 3rem;
    border-radius: .2rem 0 0 .2rem
}

/* LISTING PAGE STYLES */
#listing_page_header_container {
    text-align: center;
    font-size:2.5rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#listings_container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    margin: 2rem;
}

.listing_card_vehicle_image{
    display: flex;
    justify-content: center;
    font-size: 10rem;
}
.listing_card_vehicle_info_container {
    display: flex;
    column-gap: 1rem;
    font-size: 2rem;
    font-weight: 800;
}


.listing_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    background-color: lightblue;
    margin-bottom: 2rem;
    border-radius: .3rem;
    font-size: 1.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    color: rgb(15, 83, 85);
}

#delete_vehicle_info_button_container {
    display: flex;
    justify-content: right;
}

#cancel_button{
    color: white;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: rgb(154, 13, 13);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#cancel_button:active{
   background-color: green;
}
#cancel_button:hover{
    transform: scale(1.1);
 }

/* GARAGE PAGE STYLES */

#garage_buttons_container{
    display: flex;
    column-gap: 2rem;
}
#add_new_vehicle_button_container {
    width: fit-content;
}

#create_new_listing_button_container {
    width: fit-content;
}

#add_new_vehicle_button_container > button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background-color: green;
    color: white;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    width:13rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#add_new_vehicle_button_container>button:active {
    background-color: rgb(154, 13, 13);
}
#add_new_vehicle_button_container:hover {
    transform: scale(1.1);
}

#create_new_listing_button_container > button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background-color: green;
    color: white;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    width:13rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create_new_listing_button_container > button:active {
    background-color: rgb(154, 13, 13);
}

#create_new_listing_button_container:hover {
    transform: scale(1.1);
}

/* ADD VEHICLE PAGE STYLES */

#add_vehicle_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#add_vehicle_form_container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top:2rem;
    padding-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add_vehicle_form_header > p{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: rgb(32, 31, 31);
    font-weight: 800;}

#add_vehicle_form_year_input_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}
#add_vehicle_form_make_input_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}
#add_vehicle_form_model_input_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#add_vehicle_form_submit_button {
    height: 15%;
    width: 40%;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#add_vehicle_form_cancel_button {
    height: 15%;
    width: 40%;
    background-color: rgb(154, 13, 13);
    color: white;
    border: none;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#add_vehicle_form_cancel_button > a {
    text-decoration: none;
    color: white;
}

#add_vehicle_form_cancel_button:hover {
    transform: scale(1.1);
}

#add_vehicle_form_cancel_button:active {
    background-color: green;
}

#add_vehicle_form_submit_button:hover {
    transform: scale(1.1);
}

#add_vehicle_form_submit_button:active {
    background-color: green;
}


/* CREATE LISTING STYLES */


#create_listing_page_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#create_new_listing_form {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top:2rem;
    padding-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create_new_listing_form_header> p{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: rgb(32, 31, 31);
    font-weight: 800;}


#create_listing_vehicle_selection_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
}
#create_listing_vehicle_price_container{
    display: flex;
    height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



#create_listing_cancel_button {
    height: 15%;
    width: 40%;
    background-color: rgb(154, 13, 13);
    color: white;
    border: none;
    border-radius: .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#create_listing_cancel_button > a {
    text-decoration: none;
    color: white;
}

#create_listing_cancel_button:hover {
    transform: scale(1.1);
}

#create_listing_cancel_button:active {
    background-color: green;
}

