{% extends "home.html" %} {% block content %}

<div id="add_vehicle_page_container">
  <form method="POST" action="" id="add_vehicle_form_container">
    {% csrf_token %}
    <div id="add_vehicle_form_header">
      <p>Add New Vehicle</p>
    </div>

    <div id="add_vehicle_form_year_input_container">{{form.year}}</div>
    <div id="add_vehicle_form_make_input_container">{{form.make}}</div>
    <div id="add_vehicle_form_model_input_container">{{form.model}}</div>
    <button type="submit" id="add_vehicle_form_submit_button">Add</button>
  </form>
</div>
{% endblock content %}
