{% extends "home.html" %} {% block content %}

<div id="add_vehicle_page_container">
  <form
    method="POST"
    action=""
    id="add_vehicle_form_container"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div id="add_vehicle_form_header">
      <p>Vehicle Information</p>
    </div>
    <div id="add_vehicle_form_image_container">
      <div class="image_input_container">
        <p>Please select a vehicle image.</p>
        {{form.vehicle_image}}
      </div>
    </div>
    <div id="add_vehicle_form_year_input_container">
      <div class="select_icon_container">
        <i class="fas fa-car-side"></i>
      </div>
      <div class="input_container">{{form.year}}</div>
    </div>
    <div id="add_vehicle_form_make_input_container">
      <div class="select_icon_container">
        <i class="fas fa-car-side"></i>
      </div>
      <div class="input_container">{{form.make}}</div>
    </div>
    <div id="add_vehicle_form_model_input_container">
      <div class="select_icon_container">
        <i class="fas fa-car-side"></i>
      </div>
      <div class="input_container">{{form.model}}</div>
    </div>
    <button type="submit" id="add_vehicle_form_submit_button">Submit</button>
    <button id="add_vehicle_form_cancel_button">
      <span><a href="{% url 'garage' %}" class="cancel">Cancel</a></span>
    </button>
  </form>
</div>
{% endblock content %}
