
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveEase</title>
    <link rel="stylesheet" href={% static 'styles.css' %}>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="{% static 'scripts.js' %}"></script> 
<body>
    
    {% block content %}
    <div id="nav_container">
        <div id="main_nav_items">
        <a href = {% url "home" %}>Home</a>
        {% if user_type == "rentor" or user_type == "admin"%}
        <a href = {% url "garage" %}>Your Garage</a>
        {% endif %}

        <a href = {% url "listings" %}>Listings</a>
        </div>
        <div id="logout_nav_item">
        <a href="{%url 'logout'%}">Logout</a>
        </div>
    </div>
    <div id="home_page_container">
        <div id="home_page_opener">
            <p id="name">DriveEase</p>
            <p id="slogan">Rent. Ride. Repeat.</p>
        </div>
        <div id="current_rentals_container">
            <div id="garage_listings_header_container">
                <p>Your current rentals</p>
            </div>
            {% if rentals_found == False %}<h3 id="try_again">You currently have no rentals..</h1>{% endif %}
            <div class="cards_container">

            {% for rental in rentals  %}
                <div class="vehicle_card_container">
                    <div class="vehicle_card_image_container">
                        <img src="{{rental.vehicle.vehicle_image.url}}">
                    </div>
                    <div class="vehicle_card_info_container">
                        <div class="vehicle_card_year">
                            {{rental.vehicle.year}}
                        </div>
                        <div class="vehicle_card_make">
                            {{rental.vehicle.make}}
                        </div>
                        <div class="vehicle_card_model"> 
                            {{rental.vehicle.model}} 
                        </div>
                    </div>
                    <div class="update_info_button_container">
                        <form action={%url 'return-vehicle' rental.id%}>
                            <button type="submit" class="update_card_button">Return</a></button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>