{% extends "home.html" %}

{% block content %} 
<div id="listing_page_container">
    <div id="nav_container">
        <div id="main_nav_items">
        <a href = {% url "home" %}>Home</a>

        {% if user_type == "rentor" or user_type == "admin"%}
        <a href = {% url "garage" %}>Your Garage</a>
        {% endif %}

        <a href = {% url "listings" %}>Listings</a>
        </div>
        <div id="logout_nav_item">
        <a href="{%url 'logout'%}">Logout</a>
        </div>
    </div>
    <div id="listing_page_header_container">
        <p>AVAILABLE LISTINGS</p>
    </div>

    <div class="cards_container">
        {% if listings_found == False %}<h1 id="try_again">Check back for more listings later..</h1>{% endif %}
        {% for listing in listings %}
        <div class="vehicle_card_container">
            <div class="vehicle_card_image_container">
                <img src="{{listing.vehicle.vehicle_image.url}}">
            </div>
            <div class="vehicle_card_info_container">
                <div class="vehicle_card_year">
                    {{listing.vehicle.year}}
                </div>
                <div class="vehicle_card_make">
                    {{listing.vehicle.make}}
                </div>
                <div class="vehicle_card_model"> 
                    {{listing.vehicle.model}} 
                </div>
            </div>
            <div class="listing_card_price_container">
                <div class="listing_card_price">
                    <p>PRICE: {{listing.price}}/WK</p>
                </div>
            </div>
            {% if listing.profile != user.profile %}<form action={%url 'rent-vehicle' listing.id%} id="rental_form">
                <button type="submit" class="delete_card_button">Rent</a></button>
            </form>{% endif %}
            {% if listing.profile == user.profile %}
            <p id="rented_text">This is your vehicle.</p>{% endif %}
        </div>
        {% endfor %}
    </div>

</div>
{%endblock content%}
