{% extends "home.html" %}

{% block content %}
<div id="login_form_page_container">
    <div id="login_form_container">
        <div id="login_form_container_title">
            <p>LOGIN</p>
        </div>
        <form method="POST" action="" id="login_form">
            {% csrf_token %}
            <div id="login_user_form_name_input_field_container">
                <div class="input_icon">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" name="username" placeholder="Username..">
            </div>
           
            <div id="login_user_form_pass1_input_field_container">
                <div class="input_icon">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" placeholder="Password..">
            </div>
            <button type="submit" id="login_user_submit_button">Login</button>
        </form>
        {% for message in messages  %}
        <p id="messages">{{message}}</p>
        {% endfor %}
        <div class="login_create_form_login_container">
            <p>Don't have an account? <a href={% url 'register'%}>Register</a></p>
        </div>
    </div>
    
</div>

{% endblock content %}

