{% extends "home.html" %}

{% block content %}
<div id="registration_form_page_container">
    <div id="registration_form_container">
        <div id="registration_form_container_title">
            <p>CREATE NEW ACCOUNT</p>
        </div>
        <form method="POST" action="" id="user_creation_form">
            {% csrf_token %}
            <div id="create_user_form_name_input_field_container">
                <div class="input_icon">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{form.username}}
            </div>
            <div id="create_user_form_email_input_field_container">
                <div class="input_icon">
                    <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                </div>
                {{form.email}}
            </div>
            <div id="create_user_form_pass1_input_field_container">
                <div class="input_icon">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{form.password1}}
            </div>
            <div id="create_user_form_pass2_input_field_container">
                <div class="input_icon">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                
                {{form.password2}}
            </div>
            <button type="submit" id="create_user_submit_button">Register</button>
        </form>
        <div id="form_error_message_container">
            {{form.errors}}
        </div>
        <div class="user_create_form_login_container">
            <p>Already have an account? <a href={% url 'login'%}>Login</a></p>
        </div>
    </div>
    
</div>


{% endblock content %}

