{% extends "home.html" %} {% block content %}
<div class="rental_container">
  <div id="confirm_rental_header">
    <p>Confirm Return?</p>
  </div>
  <div class="confirm_rental_cards_container">
    <div class="vehicle_card_container">
      <div class="vehicle_card_image_container">
        <img src="{{listing.vehicle.vehicle_image.url}}" />
      </div>

      <div class="vehicle_card_info_container">
        <div class="vehicle_card_year">{{listing.vehicle.year}}</div>
        <div class="vehicle_card_make">{{listing.vehicle.make}}</div>
        <div class="vehicle_card_model">{{listing.vehicle.model}}</div>
      </div>
      <form
        method="POST"
        action="{%url 'return-vehicle' listing.id%}"
        id="rental_form"
      >
        {% csrf_token %}
        <div class="rental_button_container">
          <input type="submit" value="Return" />
          <button id="delete_cancel_button">
            <span><a href="{% url 'home' %}" class="cancel">Cancel</a></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
